.site-nav {
  background: $block-grey;
  font-family: $heading-font;
  @include font-size($medium-font-size);
  padding: $base-unit 0;

  a {
    color: $text-light;
    text-decoration: none;
    padding: $base-unit 0;
    display: block;
    transition: all 0.3s ease;
    line-height: 1;

    &:hover, &:focus {
      background: $block-green;
      padding-left: $base-unit*2;
    }
  }

  .js & {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  &.show {
    max-height: 500px;
    padding: $base-unit 0;
  }
}

.menu {
  list-style: none;
  margin: 0;
}

.menu-item {
  margin: 0;
}

@include media-query(md) {

  .site-nav {
    text-align: center;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a {
      padding: $base-unit;

      &:hover, &:focus {
        padding-left: $base-unit;
      }
    }

    .js & {
      max-height: none;
      padding: $base-unit 0;
    }

  }

  .menu-item {
    display: inline-block;
  }

}

@include media-query(lg) {

  .menu-item {
    margin: 0 $base-unit/4;
  }
}

@include media-query(xl) {

  .menu-item {
    margin: 0 $base-unit/2;
  }

}
