.site-header {
  background: $gp-green;
  margin-bottom: $base-unit*2;
  position: relative;
}

.site-header__top {
  height: $base-unit*7.5;
}

.site-header__logo {
  width: 200px;
  display: block;
  line-height: 0;
  padding: $base-unit*2 0;
  margin: 0;
}

.site-header__toggle-nav {
  width: $base-unit*5;
  height: $base-unit*5;
  background: none;
  border: none;
  padding: 0;
  -webkit-appearance: none;
  position: absolute;
  top: 10px;
  right: $base-unit*2;

  svg.icon {
    fill: white;
    width: $base-unit*4;
    height: $base-unit*4;
    vertical-align: middle;
  }
}

.site-header__social {
  display: none;
}

@include media-query (md) {

  .site-header {
    margin-bottom: $base-unit*4;

    .container {
      position: relative;
    }
  }

  .site-header__top {
    height: $base-unit*9;
  }

  .site-header__logo {
    width: 380px;
    margin: 0 auto;
    padding: $base-unit*1.5 0;
  }

  .site-header__toggle-nav {
    display: none;
  }

  .site-header__social {
    display: block;
    position: absolute;
    top: $base-unit*2;
    right: $base-unit*4;

    a {
      display: inline-block;
      text-decoration: none;
      margin-left: $base-unit*0.5;
      background: transparent;
      width: $base-unit*4;
      height: $base-unit*4;
      border-radius: 100%;
      text-align: center;
      line-height: $base-unit*4;
      transition: background 0.3s ease;

      &:hover,
      &:focus {
        background: white;

        svg {
          fill: $gp-green;
        }
      }
    }

    svg {
      fill: white;
      transition: fill 0.3s ease;
      vertical-align: middle;
    }
  }

}

@include media-query (lg) {

  .site-header__top {
    height: $base-unit*12;
  }

  .site-header__logo {
    width: 550px;
  }

  .site-header__social {
    top: $base-unit*4;

    a {
      margin-left: $base-unit*1.5;
      width: $base-unit*4.5;
      height: $base-unit*4.5;
      line-height: $base-unit*4.5;
    }
  }

}
