.site-footer {
  background: $block-dark-grey;
  color: $text-light;
  padding: $base-unit*4 0;
  // margin-top: $base-unit*2;
}

.site-footer__small-print {
  @include font-size($small-font-size);
  margin-bottom: 0;
}
