/**
 * Media query mixin
 *
 * Sets min-width media queries at specified breakpoints
 *
 * Usage:
 * @include media-query(sm) {
 *   // content
 * }
 *
 * Results in:
 * @media only screen and (min-width: 1200px) {
 *   // content
 * }
 *
 */

$xs-start:          450px   !default;
$sm-start:          768px   !default;
$md-start:          993px   !default;
$lg-start:          1200px  !default;
$xl-start:          1400px  !default;
$xxl-start:         1700px  !default;

@mixin media-query($media-query) {

  @if $media-query == xs {

      @media only screen and (min-width:$xs-start) { @content; }
  }

  @if $media-query == sm {

      @media only screen and (min-width:$sm-start) { @content; }
  }

  @if $media-query == md {

      @media only screen and (min-width:$md-start) { @content; }
  }

  @if $media-query == lg {

      @media only screen and (min-width:$lg-start) { @content; }
  }

  @if $media-query == xl {

      @media only screen and (min-width: $xl-start) { @content; }
  }

   @if $media-query == xxl {

       @media only screen and (min-width: $xxl-start) { @content; }

    }
}