/**
 * Grid breakpoints
 */
@font-face {
  font-family: 'bebas-neue';
  src: url("fonts/bebasneue-webfont.eot");
  src: url("fonts/bebasneue-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/bebasneue-webfont.woff") format("woff"), url("fonts/bebasneue-webfont.ttf") format("truetype"), url("fonts/bebasneue-webfont.svg#webfont") format("svg");
}

/**
 * Clearfix placeholder mixin
 *
 * Usage:
 * .my-class {
 *   @include clearfix;
 * }
 *
 * Results in:
 * .my-class {
 *   &:before, &:after {
 *     content: " ";
 *     display: table;
 *   }
 *   &:after {
 *     clear: both;
 *   }
 * }
 *
 */
/**
 * Font size mixin
 *
 * Converts pixel size to rems with pixel fallback.
 *
 * Requires the $base-font-size variable to be set for the project, this should be the body font size.
 *
 * Usage:
 * @include font-size(14);
 *
 * Results in (with a $base-font-size of 18):
 * font-size: 14px;
 * font-size: 0.77777778rem
 *
 */
/**
 * Grid position fallback for IE 10 & 11
 * IE 10 & 11 use the old grid syntax which requires the position of each grid item to be specified.
 * Columns for gutters also need to be set as gap is not supported.
 *
 * Usage:
 * Pass in a map of the grid layout and, optionally, the selector to target for the grid elements (defaults to div).
 * For each grid item give `index: (row, column)`
 * Row and column positions of 1 aren't generated as these are the default.
 *
 * e.g. for a 3x3 grid with a 10px gutter:
 * -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
 * $my-grid: (
 *  1: (1, 1),
 *  2: (1, 3),
 *  3: (2, 1)
 * );
 * @include grid-fallback($my-grid);
 *
 * Results in:
 * div:nth-child(2) {
 *   -ms-grid-column: 3;
 * }
 * div:nth-child(3) {
 *   -ms-grid-row: 2;
 *   -ms-grid-column: 1;
 * }
 */
/**
 * Media query mixin
 *
 * Sets min-width media queries at specified breakpoints
 *
 * Usage:
 * @include media-query(md) {
 *   // content
 * }
 *
 * Results in:
 * @media (min-width: 1200px) {
 *   // content
 * }
 *
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html, input {
  font-size: 100%;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  background: #F2F2F2;
  color: #666;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

a {
  text-decoration: underline;
  color: #006341;
}

a:hover, a:focus, a:active {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 16px;
}

h1, h2 {
  font-family: "bebas-neue", helvetica, arial, sans-serif;
  color: #333;
}

h1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-size: 20px;
  font-size: 1.25rem;
}

h3, h4, h5, h6 {
  font-weight: bold;
  color: #333;
}

ul, ol {
  list-style: initial;
  margin: 0 0 16px 24px;
}

ol {
  list-style: decimal;
}

li {
  margin-bottom: 8px;
}

img.alignright, .wp-caption.alignright, img.alignleft, .wp-caption.alignleft, img.alignnone, .wp-caption.alignnone, .wp-caption.aligncenter {
  margin: 0 0 16px 0;
}

#main:focus {
  outline: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

hr {
  border: 0;
  height: 1px;
  background: #CCC;
  margin: 0 auto 16px auto;
}

@media (min-width: 576px) {
  img.alignright, .wp-caption.alignright {
    float: right;
    margin: 0 0 16px 16px;
  }
  img.alignleft, .wp-caption.alignleft {
    float: left;
    margin: 0 16px 16px 0;
  }
}

/**
 *
 * Grid
 * Bootstrappy. Only includes ones actually used.
 */
.container {
  clear: both;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

.container--no-children {
  padding: 0 8px;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row [class*='col-'] {
  padding: 0 16px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 8px;
  }
  [class*='col-'] {
    padding-right: 8px;
    padding-left: 8px;
  }
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .col-md-4, .col-md-6, .col-md-8 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-8 {
    width: 66.66666666666666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
}

@media (min-width: 1025px) {
  .container {
    padding: 0 16px;
  }
  [class*='col-'] {
    padding-right: 16px;
    padding-left: 16px;
  }
  .row {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.sr-only, .screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only.sr-only--focusable:focus, .screen-reader-text.sr-only--focusable:focus {
  clip: auto;
  height: auto;
  width: auto;
  z-index: 1;
  background: white;
}

.primary-btn, input[type="submit"] {
  display: inline-block;
  border: none;
  background: #006341;
  color: white;
  font-family: "bebas-neue", helvetica, arial, sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 8px;
}

.primary-btn:hover, .primary-btn:focus, input[type="submit"]:hover, input[type="submit"]:focus {
  outline: 2px solid #6AB023;
}

svg.icon {
  width: 24px;
  height: 24px;
}

.content-block, .widget {
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin-bottom: 16px;
}

.content-block {
  overflow: auto;
}

ul.content-block, ul.widget, .sidebar-block__list {
  list-style: none;
  margin: 0 0 16px 0;
}

.widget-holder {
  list-style: none;
  margin: 0;
}

@media (min-width: 768px) {
  .content-block--large {
    padding: 32px;
  }
}

.pagination {
  margin: 16px 0;
}

.pagination .page-numbers {
  display: inline-block;
  padding: 8px;
  line-height: 1;
  min-width: 34px;
  text-align: center;
}

.pagination span.page-numbers {
  border: 1px solid #006341;
  background: #006341;
  color: white;
}

.pagination a.page-numbers {
  background: white;
  transition: background 0.3s ease;
  text-decoration: none;
  border: 1px solid #6AB023;
}

.pagination a.page-numbers:hover, .pagination a.page-numbers:focus {
  border: 1px solid #006341;
  background: #006341;
  color: white;
}

.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wp-caption {
  padding: 8px;
  border: 1px solid #CCC;
  max-width: 100%;
}

.wp-caption-text {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .wp-caption.alignright, .wp-caption.alignleft {
    max-width: 50% !important;
  }
}

.site-footer {
  background: #333;
  color: white;
  padding: 32px 0;
}

.site-footer .container {
  padding: 0 16px;
}

.site-footer h2 {
  color: white;
}

.site-footer__small-print {
  font-size: 14px;
  font-size: 0.875rem;
  margin-bottom: 0;
}

.site-footer__small-print p {
  margin-bottom: 0;
}

.site-footer__social {
  margin-bottom: 16px;
}

.site-footer__social a {
  text-decoration: none;
  display: inline-block;
  margin: 0 24px 0 0;
  width: 32px;
  height: 32px;
}

.site-footer__social a:hover svg, .site-footer__social a:focus svg {
  fill: #59941d;
}

.site-footer__social svg.icon {
  fill: white;
  transition: fill 0.3s ease;
  width: 100%;
  height: 100%;
}

.menu-footer-menu-container {
  margin-bottom: 16px;
}

.menu-footer-menu-container li {
  margin: 0 24px 8px 0;
}

.menu-footer-menu-container a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.menu-footer-menu-container a:hover, .menu-footer-menu-container a:focus {
  border-bottom: none;
}

@media (min-width: 768px) {
  .site-footer {
    margin-top: 16px;
  }
}

input,
button,
textarea {
  border-radius: 0;
  -webkit-appearance: none;
  font-size: 16px;
  font-size: 1rem;
  font-family: sans-serif;
}

input[type="search"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="url"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #CCC;
}

button, input[type="submit"] {
  cursor: pointer;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #333;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #333;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #333;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #333;
}

.search-form {
  width: 100%;
  position: relative;
  line-height: 0;
  margin: 8px 0;
}

.search-field {
  font-family: "bebas-neue", helvetica, arial, sans-serif;
  border: none;
}

input.search-submit {
  width: 32px;
  height: 31px;
  position: absolute;
  right: 2px;
  top: 2px;
  background: white url("images/search-icon.svg") no-repeat center;
  text-indent: -999999px;
  border: none;
}

@media (min-width: 768px) {
  .search-form {
    display: inline-block;
    margin-left: 8px;
    width: 120px;
  }
}

@media (min-width: 1025px) {
  .search-form {
    margin: 0 16px;
    width: 192px;
  }
}

.site-header {
  background: #6AB023;
  margin-bottom: 16px;
  position: relative;
}

.site-header__top {
  height: 60px;
}

.site-header__logo {
  width: 200px;
  display: block;
  line-height: 0;
  padding: 16px 0;
  margin: 0;
}

.site-header__toggle-nav {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  padding: 0;
  -webkit-appearance: none;
  position: absolute;
  top: 10px;
  right: 16px;
}

.site-header__toggle-nav svg.icon {
  fill: white;
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.site-header__social {
  display: none;
}

@media (min-width: 768px) {
  .site-header {
    margin-bottom: 32px;
  }
  .site-header .container {
    position: relative;
  }
  .site-header__top {
    height: 72px;
  }
  .site-header__logo {
    width: 380px;
    margin: 0 auto;
    padding: 12px 0;
  }
  .site-header__toggle-nav {
    display: none;
  }
  .site-header__social {
    display: block;
    position: absolute;
    top: 16px;
    right: 32px;
  }
  .site-header__social a {
    display: inline-block;
    text-decoration: none;
    margin-left: 12px;
    background: transparent;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    text-align: center;
    line-height: 36px;
    transition: background 0.3s ease;
  }
  .site-header__social a:hover, .site-header__social a:focus {
    background: white;
  }
  .site-header__social a:hover svg, .site-header__social a:focus svg {
    fill: #6AB023;
  }
  .site-header__social svg {
    fill: white;
    transition: fill 0.3s ease;
    vertical-align: middle;
  }
}

@media (min-width: 1025px) {
  .site-header__top {
    height: 96px;
  }
  .site-header__logo {
    width: 550px;
  }
  .site-header__social {
    top: 32px;
  }
}

.site-nav {
  background: #686868;
  font-family: "bebas-neue", helvetica, arial, sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  padding: 8px 0;
}

.site-nav a {
  color: white;
  text-decoration: none;
  padding: 8px 0;
  display: block;
  transition: all 0.3s ease;
  line-height: 1;
}

.site-nav a:hover, .site-nav a:focus {
  background: #59941d;
  padding-left: 16px;
}

.js .site-nav {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.site-nav.show {
  max-height: 500px;
  padding: 8px 0;
}

.menu {
  list-style: none;
  margin: 0;
}

.menu-item {
  margin: 0;
}

@media (min-width: 768px) {
  .site-nav {
    text-align: center;
  }
  .site-nav .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-nav a {
    padding: 8px;
  }
  .site-nav a:hover, .site-nav a:focus {
    padding-left: 8px;
  }
  .js .site-nav {
    max-height: none;
    padding: 8px 0;
  }
  .menu-item {
    display: inline-block;
  }
}

@media (min-width: 1025px) {
  .menu-item {
    margin: 0 2px;
  }
}

@media (min-width: 1200px) {
  .menu-item {
    margin: 0 4px;
  }
}

.home-banner {
  width: 100%;
  height: 360px;
  background: #59941d;
  margin-bottom: 32px;
}

@media (min-width: 1200px) {
  .homepage-content {
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-gap: 32px;
    display: -ms-grid;
    -ms-grid-columns: 9fr 32px 3fr;
  }
  .homepage-content > div:nth-child(2) {
    -ms-grid-column: 3;
  }
}

.home-ctas {
  margin: 0 16px 16px 16px;
}

.home-ctas__cta {
  font-family: "bebas-neue", helvetica, arial, sans-serif;
  background: #006341;
  text-decoration: none;
  text-align: center;
  line-height: 0.9;
  padding: 16px 8px;
  margin-bottom: 16px;
  position: relative;
}

.home-ctas__cta:hover .home-ctas__link, .home-ctas__cta:focus .home-ctas__link {
  background: white;
  color: #006341;
}

.home-ctas__heading {
  font-size: 32px;
  font-size: 2rem;
  display: block;
  margin-bottom: 8px;
  color: white;
}

.home-ctas__link {
  font-size: 20px;
  font-size: 1.25rem;
  display: inline-block;
  background: transparent;
  border: 1px solid white;
  padding: 8px;
  transition: background 0.3s ease, border 0.3s ease;
  color: white;
  text-decoration: none;
}

@media (min-width: 550px) {
  .home-ctas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    margin: 0 0 16px 0;
    display: -ms-grid;
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
  }
  .home-ctas > div:nth-child(2) {
    -ms-grid-column: 3;
  }
  .home-ctas > div:nth-child(3) {
    -ms-grid-column: 5;
  }
  .home-ctas__cta {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .home-ctas__cta {
    padding: 24px 16px;
  }
}

@media (min-width: 1200px) {
  .home-ctas {
    grid-template-columns: auto;
    margin: 0;
    -ms-grid-columns: 100%;
    -ms-grid-rows: 1fr 16px 1fr 16px 1fr;
  }
  .home-ctas > div:nth-child(2) {
    -ms-grid-row: 3;
  }
  .home-ctas > div:nth-child(3) {
    -ms-grid-row: 5;
  }
  .home-ctas__cta {
    -ms-grid-column: 1 !important;
    font-size: 48px;
    font-size: 3rem;
    margin-bottom: 16px;
  }
  .home-ctas__cta {
    padding: 32px 16px;
  }
  .home-ctas__heading {
    font-size: 48px;
    font-size: 3rem;
  }
  .home-ctas__link {
    font-size: 32px;
    font-size: 2rem;
  }
}

.latest-news-heading {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .latest-news-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 16px;
    display: -ms-grid;
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
    -ms-grid-rows: 1fr 16px 1fr 16px 1fr 16px 1fr;
  }
  .latest-news-grid > div:nth-child(2) {
    -ms-grid-row: 5;
  }
  .latest-news-grid > div:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
  .latest-news-grid > div:nth-child(4) {
    -ms-grid-row: 5;
    -ms-grid-column: 9;
  }
  .latest-news-grid > div:nth-child(5) {
    -ms-grid-column: 13;
  }
  .latest-news-grid > div:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 13;
  }
  .latest-news-grid > div:nth-child(7) {
    -ms-grid-row: 5;
    -ms-grid-column: 13;
  }
  .latest-news-grid > div:nth-child(8) {
    -ms-grid-row: 7;
    -ms-grid-column: 13;
  }
  .latest-news-grid .post-preview {
    background: #f6f6f6;
    padding: 8px;
  }
  .latest-news-grid .post-preview:first-child {
    grid-column: 1/7;
    grid-row: 1/3;
    padding: 8px 16px 8px 8px;
    -ms-grid-column-span: 11;
    -ms-grid-row-span: 3;
  }
  .latest-news-grid .post-preview:first-child .post-preview__image {
    max-width: 300px;
    width: 50%;
  }
  .latest-news-grid .post-preview:first-child .post-preview__heading {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .latest-news-grid .post-preview:nth-child(2), .latest-news-grid .post-preview:nth-child(3), .latest-news-grid .post-preview:nth-child(4) {
    display: block;
    grid-row: 3/5;
    -ms-grid-column-span: 3;
    -ms-grid-row-span: 3;
  }
  .latest-news-grid .post-preview:nth-child(2) .post-preview__image, .latest-news-grid .post-preview:nth-child(3) .post-preview__image, .latest-news-grid .post-preview:nth-child(4) .post-preview__image {
    max-width: 100%;
    width: 100%;
  }
  .latest-news-grid .post-preview:nth-child(2) .post-preview__body, .latest-news-grid .post-preview:nth-child(3) .post-preview__body, .latest-news-grid .post-preview:nth-child(4) .post-preview__body {
    padding: 12px 0 0 0;
  }
  .latest-news-grid .post-preview:nth-child(2) .post-preview__text, .latest-news-grid .post-preview:nth-child(3) .post-preview__text, .latest-news-grid .post-preview:nth-child(4) .post-preview__text {
    display: none;
  }
  .latest-news-grid .post-preview:nth-child(2) {
    grid-column: 1/3;
  }
  .latest-news-grid .post-preview:nth-child(3) {
    grid-column: 3/5;
  }
  .latest-news-grid .post-preview:nth-child(4) {
    grid-column: 5/7;
  }
  .latest-news-grid .post-preview--simple {
    grid-column: 7/10;
    -ms-grid-column-span: 5;
  }
}

.campaign-section {
  margin-bottom: 16px;
}

.campaign-ctas ul {
  list-style: none;
  margin: 8px 0 0 0;
}

.campaign-ctas a {
  background: #006341;
  color: white;
  display: block;
  text-decoration: none;
  font-family: "bebas-neue", helvetica, arial, sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  padding: 8px 16px;
  position: relative;
}

.campaign-ctas a:hover, .campaign-ctas a:focus {
  outline: 2px solid #6AB023;
}

.campaign__key-points {
  border: 2px solid #6AB023;
  padding: 16px;
}

.campaign__key-points ol {
  list-style: none;
  margin: 0;
}

.campaign__key-points li {
  counter-increment: step-counter;
  position: relative;
  color: #333;
  padding-left: 32px;
}

.campaign__key-points li:before {
  content: counter(step-counter);
  position: absolute;
  text-align: center;
  display: inline-block;
  background: #333;
  color: white;
  width: 24px;
  left: 0;
  top: 0;
  font-family: "bebas-neue", helvetica, arial, sans-serif;
}

@media (min-width: 768px) {
  .campaign-section {
    margin-bottom: 32px;
  }
  .campaign-section h2 {
    font-size: 32px;
    font-size: 2rem;
  }
  .campaign-ctas a {
    display: inline-block;
  }
}

.page-header {
  margin-bottom: 24px;
}

.page-header__letters-icon {
  display: inline-block;
  background: url("images/paperplane.svg") left center no-repeat;
  font-family: "bebas-neue", helvetica, arial, sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  padding-left: 36px;
  margin-bottom: 16px;
  text-decoration: none;
  position: relative;
}

.page-header__letters-icon:hover:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #006341;
  width: 138px;
  bottom: 0;
  left: 36px;
}

.page-title {
  border-bottom: 1px solid #6AB023;
  margin: 0;
  padding-bottom: 16px;
  line-height: 1.2;
}

.page-banner__title {
  line-height: 1;
}

.page-banner__tagline {
  font-size: 20px;
  font-size: 1.25rem;
  font-family: "bebas-neue", helvetica, arial, sans-serif;
  margin: 0;
  line-height: 1;
}

@media (max-width: 767px) {
  .page-banner {
    background-image: none !important;
  }
  .page-banner.page-banner--no-content {
    display: none;
  }
}

@media (min-width: 768px) {
  .page-banner {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
  }
  .page-banner--city {
    background: url("images/city-blog-banner.jpg") left top no-repeat;
    background-size: 100% auto;
  }
  .page-banner__inner {
    background: rgba(255, 255, 255, 0.6);
    width: 50%;
    padding: 16px;
  }
  .page-banner__title {
    font-size: 48px;
    font-size: 3rem;
    color: #333;
  }
  .page-banner__tagline {
    font-size: 32px;
    font-size: 2rem;
    color: #333;
  }
}

@media (min-width: 1025px) {
  .page-banner {
    height: 360px;
  }
  .page-banner__inner {
    width: 40%;
  }
  .page-banner__title {
    font-size: 64px;
    font-size: 4rem;
  }
}

.comments {
  border-top: 2px solid #6AB023;
  margin-top: 32px;
  padding-top: 16px;
}

.comments__heading {
  font-size: 32px;
  font-size: 2rem;
}

.comments__disclaimer {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
}

.comment-list {
  list-style: none;
  margin: 0 0 32px 0;
}

.comment-body {
  background: #eee;
  padding: 16px;
}

.comment-meta {
  margin-bottom: 8px;
  font-size: 14px;
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment-meta b {
  font-weight: bold;
}

.comment-meta a {
  text-decoration: none;
  color: #666;
}

.comment-author {
  margin-bottom: 4px;
}

.comment-content {
  color: #333;
}

.post-preview {
  padding: 8px 0;
  border-bottom: 1px solid #6AB023;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-preview:before, .post-preview:after {
  content: " ";
  display: table;
}

.post-preview:after {
  clear: both;
}

.post-preview:first-of-type {
  padding-top: 0;
}

.post-preview__image {
  width: 33.3333333333%;
  max-width: 160px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  line-height: 0;
}

.post-preview__body {
  padding: 0 0 0 12px;
  max-width: 100%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.post-preview--simple .post-preview__body {
  width: 100%;
  padding: 0;
}

.post-preview__heading {
  margin: 0 0 4px 0;
  line-height: 1.2;
  font-size: 16px;
  font-size: 1rem;
}

.post-preview__heading a {
  color: #333;
  text-decoration: none;
}

.post-preview__heading a:hover, .post-preview__heading a:focus, .post-preview__heading a:active, .hover .post-preview__heading a {
  border-bottom: 1px solid #6AB023;
}

h2.post-preview__heading {
  font-family: sans-serif;
  font-weight: bold;
}

.post-preview__date {
  padding: 0;
  font-size: 12px;
  margin-bottom: 4px;
}

.post-preview__text {
  line-height: 1.4;
  font-size: 14px;
  font-size: 0.875rem;
  color: #666;
}

.post-preview__text p {
  margin-bottom: 0;
}

.post-preview--event .post-preview__image {
  width: 24%;
}

.post-preview--event a {
  text-decoration: none;
  color: #666;
}

@media (min-width: 1025px) {
  .post-preview {
    padding: 16px 0;
  }
}

.faux-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  text-indent: -999999px;
  overflow: hidden;
}

.post:before, .post:after {
  content: " ";
  display: table;
}

.post:after {
  clear: both;
}

.post-info h2 {
  margin-bottom: 8px;
}

.post-info__categories {
  padding: 16px 0 0 0;
}

.post-info__categories ul {
  list-style: none;
  margin: 0;
}

.post-info__categories li {
  display: inline-block;
  padding: 0;
  margin: 0;
  position: relative;
}

.post-info__categories li:after {
  content: "/";
  position: absolute;
  right: 4px;
  top: -1px;
}

.post-info__categories li:last-child:after {
  content: none;
}

.post-info__categories a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 16px;
  font-size: 14px;
  font-size: 0.875rem;
}

.post-info__categories a:hover, .post-info__categories a:focus {
  border-bottom: 1px solid;
}

.post-info__author {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 16px;
}

.post-info__author img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-right: 12px;
}

.post-info__author p {
  margin: 0;
}

.post-info__author-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4px;
}

.post-info__author-name {
  text-decoration: none;
  font-weight: bold;
}

a.post-info__author-name:hover, a.post-info__author-name:focus {
  border-bottom: 1px solid;
}

.post-info__author-title {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
}

@media (min-width: 576px) {
  .page-content img.alignright,
  .page-content img.alignleft,
  .page-content .wp-caption.alignright,
  .page-content .wp-caption.alignleft {
    max-width: 50% !important;
  }
}

.related-posts {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px dotted #CCC;
}

.blog-sidebar-header {
  display: block;
  background: #006341;
  color: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
  text-decoration: none;
}

.blog-sidebar-header__content {
  display: block;
  padding: 16px;
}

.blog-sidebar-header__heading {
  font-family: "bebas-neue", helvetica, arial, sans-serif;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1;
}

@media (min-width: 1025px) {
  .blog-sidebar-header--city {
    background: url("images/city-ward-blog.jpg") center top no-repeat;
    background-size: 100% auto;
    height: 300px;
    position: relative;
  }
  .blog-sidebar-header__content {
    background: rgba(0, 99, 65, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.sidebar-cta {
  display: block;
  background: #006341;
  color: white;
  text-decoration: none;
  padding: 16px;
  margin-bottom: 16px;
}

.sidebar-cta strong {
  display: block;
  font-family: "bebas-neue", helvetica, arial, sans-serif;
  font-size: 32px;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 4px;
}

.sidebar-cta:hover, .sidebar-cta:focus {
  outline: 4px solid #6AB023;
}

.sidebar-block__list {
  list-style: none;
  margin: 0 0 16px 0;
}

.sidebar-block__list a {
  text-decoration: none;
}

.sidebar-block__view-all {
  margin-bottom: 0;
}

.widget_categories ul {
  list-style: none;
  margin: 0;
  text-transform: uppercase;
}

.widget_categories li.categories {
  font-family: "bebas-neue", helvetica, arial, sans-serif;
  color: #333;
  font-size: 20px;
  font-size: 1.25rem;
}

.widget_categories li.categories > ul {
  margin-top: 8px;
}

.widget_categories .categories li {
  border-bottom: 1px dotted #CCC;
  padding-bottom: 8px;
  font-family: sans-serif;
}

.widget_categories a {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
}

.widget_categories a:hover, .widget_categories a:focus {
  border-bottom: 1px solid;
}

.widget_categories .children {
  margin-top: 4px;
}

.widget_categories .children li {
  display: inline-block;
  padding: 0;
  margin: 0;
  position: relative;
  border: none;
}

.widget_categories .children li:after {
  content: "/";
  position: absolute;
  right: 4px;
  top: -1px;
  font-size: 16px;
  font-size: 1rem;
}

.widget_categories .children li:last-child:after {
  content: none;
}

.widget_categories .children a {
  display: block;
  margin-right: 16px;
  font-weight: normal;
}

.widget_recent_entries ul, .widget_listcategorypostswidget ul {
  list-style: none;
  margin: 0;
  line-height: 1.3;
}

.widget_recent_entries li, .widget_listcategorypostswidget li {
  margin-bottom: 16px;
}

.widget_recent_entries li:last-child, .widget_listcategorypostswidget li:last-child {
  margin-bottom: 8px;
}

.widget_recent_entries a, .widget_listcategorypostswidget a {
  text-decoration: none;
}

.widget_recent_entries a:hover, .widget_recent_entries a:focus, .widget_listcategorypostswidget a:hover, .widget_listcategorypostswidget a:focus {
  border-bottom: 1px solid;
}

.widget_subpages {
  padding: 0;
}

.widget_subpages .widget-title {
  color: white;
  background: #006341;
  font-family: "bebas-neue", helvetica, arial, sans-serif;
  padding: 8px 16px;
  margin: 0;
}

.widget_subpages .widget-title a {
  color: white;
  text-decoration: none;
  display: block;
}

.widget_subpages .widget-title a:hover, .widget_subpages .widget-title a:focus {
  text-decoration: underline;
}

.widget_subpages ul {
  list-style: none;
  margin: 0;
  padding: 0 16px;
}

.widget_subpages li {
  margin: 0;
  border-bottom: 1px solid #CCC;
}

.widget_subpages li:last-child {
  border-bottom: none;
}

.widget_subpages li a {
  text-decoration: none;
  padding: 16px 0;
  display: block;
  line-height: 1;
}

.widget_subpages li a:hover, .widget_subpages li a:focus {
  text-decoration: underline;
}