.search-form {
  width: 100%;
  position: relative;
  line-height: 0;
  margin: $base-unit 0;
}

.search-field {
  font-family: $heading-font;
  border: none;
}

.search-submit {
  width: $base-unit*4;
  height: 28px;
  position: absolute;
  right: 2px;
  top: 2px;
  background: white url('images/search-icon.svg') no-repeat center;
  text-indent: -999999px;
  border: none;
}

@include media-query(sm) {

  .search-form {
    width: $base-unit*24;
    display: inline-block;
  }

}

@include media-query(md) {

  .search-form {
    margin: 0 $base-unit*2;
  }

}