.post-preview {
  @include clearfix;
  padding: $base-unit 0;
  border-bottom: 1px solid $border-green;
  position: relative;

  &:first-of-type {
    padding-top: 0;
  }
}

.post-preview__image {
  float: left;
  width: percentage(1/3);
  line-height: 0;
}

.post-preview__body {
  float: left;
  width: percentage(2/3);
  padding: 0 0 0 $base-unit*1.5;

  .post-preview--simple & {
    width: 100%;
    padding: 0;
  }
}

.post-preview__heading {
  margin: 0 0 $base-unit/2 0;
  line-height: 1.2;
  @include font-size($base-font-size);

  a {
    color: $text-dark;
    text-decoration: none;

    &:hover, &:focus, &:active, .hover & {
      border-bottom: 1px solid $border-green;
    }
  }
}

.post-preview__date {
  padding: 0;
  font-size: 12px;
  margin-bottom: $base-unit/2;
}

.post-preview__text {
  line-height: 1.4;
  @include font-size($small-font-size);
  color: $text-medium;

  p {
    margin-bottom: 0;
  }
}

.post-preview--event {
  a {
    text-decoration: none;
    color: $text-medium;
  }
}

@include media-query(md) {

  .post-preview {
    padding: $base-unit*2 0;
  }

}

.faux-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  text-indent: -999999px;
  overflow: hidden;
}
