#mc_embed_signup {
  margin-bottom: $base-unit*2;

  label {
    display: block;
    font-family: $heading-font;
    @include font-size($medium-font-size);
    margin-bottom: $base-unit*1.5;
  }
}

.mc-input-wrapper {
  display: flex;
}

.mc-sidebar {
  .email {
    width: calc(100% - 83px);
  }
}

@include media-query(md) {
  #mc_embed_signup {
    padding-right: $base-unit*2;
  }
}
