.site-footer {
  background: $block-dark-grey;
  color: $text-light;
  padding: $base-unit*4 0;

  .container {
    padding: 0 $base-unit*2;
  }

  h2 {
    color: $text-light;
  }
}

.site-footer__small-print {
  p {
    margin-bottom: 0;
    @include font-size($small-font-size);
    margin-bottom: 0;
  }
}

.site-footer__social {
  margin-bottom: $base-unit*2;

  a {
    text-decoration: none;
    display: inline-block;
    margin: 0 $base-unit*3 0 0;
    width: $base-unit*4;
    height: $base-unit*4;

    &:hover, &:focus {
      svg {
        fill: $block-green;
      }
    }
  }

  svg.icon {
    fill: white;
    transition: fill 0.3s ease;
    width: 100%;
    height: 100%;
  }
}

.menu-footer-menu-container {
  margin-bottom: $base-unit*2;

  li {
    margin: 0 $base-unit*3 $base-unit 0;
  }
  a {
    color: $text-light;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255, 0.7);

    &:hover, &:focus {
      border-bottom: none;
    }
  }
}

#mc_embed_signup {
  margin-bottom: $base-unit*2;

  label {
    display: block;
    font-family: $heading-font;
    @include font-size($medium-font-size);
    margin-bottom: $base-unit*1.5;
  }
}

.mc-input-wrapper {
  display: flex;
}

@include media-query(md) {

  .site-footer {
    margin-top: $base-unit*2;
  }

  .site-footer__social {
    a {
      margin: 0 $base-unit 0 0;
    }
  }

  .site-footer__small-print {
    margin-top: $base-unit*2;
  }

  #mc_embed_signup {
    padding-right: $base-unit*2;
  }
}

@include media-query(lg) {
  .site-footer__social {
    a {
      margin: 0 $base-unit*3 0 0;
    }
  }
}