.wp-caption {
  padding: $base-unit;
  border: 1px solid $border-grey;
  max-width: 100%;
}

.wp-caption-text {
  @include font-size($small-font-size);
  font-weight: bold;
}

@include media-query(md) {

  .wp-caption {
    &.alignright, &.alignleft {
      max-width: 50%!important; // to overrule inline style
    }
  }

}
