/**
 * Grid breakpoints
 */

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1025px,
  xl: 1200px,
) !default;




// $xs-start:          450px   !default;
// $sm-start:          768px   !default;
// $md-start:          993px   !default;
// $lg-start:          1200px  !default;
// $xl-start:          1400px  !default;
// $xxl-start:         1700px  !default;
