$green: #6AB023;
$dark-green: #006341;
$light-green: #97d700;
$turquoise: #00afd0;
$purple: #772583;
$red: #f93822;
$dark-blue: #00558c;
$yellow: #ffd100;
$pink: #f04e98;
$grey: #d1ccbd;
$light-grey: #EEE;
