.content-block, .widget {
  background: $block-white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  padding: $base-unit*2;
  margin-bottom: $base-unit*2;
}

.content-block {
  overflow: auto;
}

ul.content-block, ul.widget, .sidebar-block__list {
  list-style: none;
  margin: 0 0 $base-unit*2 0;
}

.widget-holder {
  list-style: none;
  margin: 0;
}

@include media-query(sm) {

  .content-block--large {
    padding: $base-unit*4;
  }

}
