.thumbnail-list {
  list-style: none;
  margin: 0;
}

.thumbnail-list__item {
  display: flex;
  align-items: center;
  margin-bottom: $base-unit*2;
}

a.thumbnail-list__item {
  text-decoration: none;

  &:hover, &:focus {
    .thumbnail-list__title {
      border-bottom: 1px solid $border-green;
    }
    .thumbnail-list__image {
      background: $border-green;
    }
  }
}

.thumbnail-list__image {
  margin-right: $base-unit;
  border: 1px solid $border-green;
  padding: $base-unit/4;
  line-height: 0;
}

.thumbnail-list__title {
  @include font-size($medium-font-size);
  font-family: $heading-font;
  line-height: 1.2;
}
