* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  &:before, &:after {
    box-sizing: border-box;
  }
}

html, body {
  height: 100%;
}

html, input {
  font-size: 100%;
}

body {
  font-family: $body-font;
  @include font-size($base-font-size);
  line-height: 1.5;
  background: $body-bg;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

a {
  text-decoration: underline;
  color: $text-green;

  &:hover, &:focus, &:active {
    text-decoration: none;
  }
}

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: $base-unit*2;
}

h1, h2 {
  font-family: $heading-font;
}

h1 {
  @include font-size($large-font-size);
}

h2 {
  @include font-size($medium-font-size);
}

h3, h4, h5, h6 {
  font-weight: bold;
}

ul, ol {
  list-style: initial;
  margin: 0 0 0 $base-unit*3;
}

ol {
  list-style: decimal;
}

li {
  margin-bottom: $base-unit;
}

img.alignright, .wp-caption.alignright, img.alignleft, .wp-caption.alignleft, img.alignnone, .wp-caption.alignnone {
  margin: 0 0 $base-unit*2 0;
}

#main:focus {
  outline: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

@include media-query(xs) {

  img.alignright, .wp-caption.alignright {
    float: right;
    margin: 0 0 $base-unit*2 $base-unit*2;
  }

  img.alignleft, .wp-caption.alignleft {
    float: left;
    margin: 0 $base-unit*2 $base-unit*2 0;
  }

}
