/**
 *
 * Grid
 * Bootstrappy. Only includes ones actually used.
 */

.container {
  clear: both;
  width: 100%;
  max-width: $grid-width;
  margin: 0 auto;
  @include clearfix;
}

.container--no-children {
  padding: 0 $base-unit;
}

[class*='col-'] {
  position: relative;
  width: 100%;
}

.row {
  @include clearfix;

  [class*='col-'] {
    padding: 0 $base-unit*2;
  }
}

@include media_query(md) {

  .container {
    padding: 0 $base-unit;
  }

  [class*='col-'] {
    padding-right: $base-unit;
    padding-left: $base-unit;
  }

  .row {
    margin-left: -$base-unit;
    margin-right: -$base-unit;
  }

  .col-md-4, .col-md-6, .col-md-8 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-8 {
    width: 66.66666666666666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
}

@include media_query(lg) {
  .container {
    padding: 0 $base-unit*2;
  }
  [class*='col-'] {
    padding-right: $base-unit*2;
    padding-left: $base-unit*2;
  }
  .row {
    margin-left: -$base-unit*2;
    margin-right: -$base-unit*2;
  }
}
