.page-header {
  margin-bottom: $base-unit*3;
}

.page-header__letters-icon {
  display: inline-block;
  background: url('images/paperplane.svg') left center no-repeat;
  font-family: $heading-font;
  @include font-size($medium-font-size);
  padding-left: $base-unit*4.5;
  margin-bottom: $base-unit*2;
  text-decoration: none;
  position: relative;

  &:hover {
    &:after {
      content: "";
      position: absolute;
      border-bottom: 1px solid $border-dark-green;
      width: 138px;
      bottom: 0;
      left: 36px;;
    }
  }
}

.page-title {
  border-bottom: 1px solid $border-green;
  margin: 0;
  padding-bottom: $base-unit*2;
  line-height: 1.2;
}

.page-banner__title {
  line-height: 1;
}

.page-banner__tagline {
  @include font-size($medium-font-size);
  font-family: $heading-font;
  margin: 0;
  line-height: 1;
}

@media (max-width: 767px) {
  .page-banner {
    background-image: none!important;

    &.page-banner--no-content {
      display: none;
    }
  }
}

@include media-query(sm) {

  .page-banner {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
  }

  .page-banner--city {
    background: url('images/city-blog-banner.jpg') left top no-repeat;
    background-size: 100% auto;
  }

  .page-banner__inner {
    background: rgba(255,255,255,0.6);
    width: 50%;
    padding: $base-unit*2;
  }

  .page-banner__title {
    @include font-size($x-large-font-size);
    color: $text-dark;
  }

  .page-banner__tagline {
    @include font-size($large-font-size);
    color: $text-dark;
  }

}

@include media-query(md) {

  .page-banner {
    height: 360px;
  }

  .page-banner__inner {
    width: 40%;
  }

  .page-banner__title {
    @include font-size($xx-large-font-size);
  }
}
