.sr-only, .screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;

  &.sr-only--focusable {
    &:focus {
      clip: auto;
      height: auto;
      width: auto;
      z-index: 1;
      background: white;
    }
  }
}
