.home-banner {
  background-color: $gp-green;
  display: block;
  // height: 180px;
  margin-bottom: $base-unit*2;
  text-decoration: none;
  width: 100%;


}

.home-banner__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: block;
  padding-top: percentage(180/576);
  // height: 100%;
  width: 100%;
}

.home-banner__desktop {
  @media(max-width: 575px) {
    background-image: none!important;
    display: none;
  }
}


@include media-query(sm) {

  .home-banner {
    background-color: $gp-green;

  }

  .home-banner__image {
    padding-top: percentage(300/1216);
  }

  .home-banner__desktop {
    display: block;
  }

  .home-banner__mobile {
    background-image: none!important;
    display: none;
  }

}


// @include media-query(md) {
//   height: 280px;
// }


// @include media-query(lg) {
//   height: 250px;
// }


